In [ ]:
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install json
!pip install openpyxl

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import json
import os
import openpyxl

# Carregar as bases de dados

In [9]:

# #carregar dataset de vendas
# file_path = r"xxxx"
# with open(file_path, "r", encoding="utf-8") as file:
#     data = json.load(file)

# criar um dataframe

df2014 = pd.read_csv(r'E:\PYTHON\CURSOS\10_Digital_College\DA18\PYTHON\Projeto_Unidade_3\_2_datasets\Base_Governamental\Dados\relatorio_preco_medio_mensal_2014.csv')
# df2015 = pd.read_csv(r'C:\digital college\DA18\PYTHON\Projeto_Unidade_3\4_Etapa_ETL\datasets_tratados\relatorio_preco_medio_mensal_2015_tratado.csv')
# df2016 = pd.read_csv(r'C:\digital college\DA18\PYTHON\Projeto_Unidade_3\4_Etapa_ETL\datasets_tratados\relatorio_preco_medio_mensal_2016_tratado.csv')
# df2017 = pd.read_csv(r'C:\digital college\DA18\PYTHON\Projeto_Unidade_3\4_Etapa_ETL\datasets_tratados\relatorio_preco_medio_mensal_2017_tratado.csv')
# df2018 = pd.read_csv(r'C:\digital college\DA18\PYTHON\Projeto_Unidade_3\4_Etapa_ETL\datasets_tratados\relatorio_preco_medio_mensal_2018_tratado.csv')
# df2019 = pd.read_csv(r'C:\digital college\DA18\PYTHON\Projeto_Unidade_3\4_Etapa_ETL\datasets_tratados\relatorio_preco_medio_mensal_2019_tratado.csv')
# df2020 = pd.read_csv(r'C:\digital college\DA18\PYTHON\Projeto_Unidade_3\4_Etapa_ETL\datasets_tratados\relatorio_preco_medio_mensal_2020_tratado.csv')
# df2021 = pd.read_csv(r'C:\digital college\DA18\PYTHON\Projeto_Unidade_3\4_Etapa_ETL\datasets_tratados\relatorio_preco_medio_mensal_2021_tratado.csv')
# df2022 = pd.read_csv(r'C:\digital college\DA18\PYTHON\Projeto_Unidade_3\4_Etapa_ETL\datasets_tratados\relatorio_preco_medio_mensal_2022_tratado.csv')
# df2023 = pd.read_csv(r'C:\digital college\DA18\PYTHON\Projeto_Unidade_3\4_Etapa_ETL\datasets_tratados\relatorio_preco_medio_mensal_2023_tratado.csv')


#salvar dataframe
# csv_path_2014 = "2_datasets\Base_Governamental\Dados\relatorio_preco_medio_mensal_2014.csv"
# csv_path_2015 = "2_datasets\Base_Governamental\Dados\relatorio_preco_medio_mensal_2015.csv"
# csv_path_2016 = "2_datasets\Base_Governamental\Dados\relatorio_preco_medio_mensal_2016.csv"
# csv_path_2017 = "2_datasets\Base_Governamental\Dados\relatorio_preco_medio_mensal_2017.csv"
# csv_path_2018 = "2_datasets\Base_Governamental\Dados\relatorio_preco_medio_mensal_2018.csv"
# csv_path_2019 = "2_datasets\Base_Governamental\Dados\relatorio_preco_medio_mensal_2019.csv"
# csv_path_2020 = "2_datasets\Base_Governamental\Dados\relatorio_preco_medio_mensal_2020.csv"
# csv_path_2021 = "2_datasets\Base_Governamental\Dados\relatorio_preco_medio_mensal_2021.csv"
# csv_path_2022 = "2_datasets\Base_Governamental\Dados\relatorio_preco_medio_mensal_2022.csv"
# csv_path_2023 = "2_datasets\Base_Governamental\Dados\relatorio_preco_medio_mensal_2023.csv"

# df.to_csv(csv_path, index=False)

### Verificando as bases, nulos, duplicados

In [10]:
df2014.head()

,Produto/Unidade,Nível de Comercialização,U.F.,01/2014,02/2014,03/2014,04/2014,05/2014,06/2014,07/2014,08/2014,09/2014,10/2014,11/2014,12/2014
0,ABACAXI PÉROLA (kg),PRODUTOR,AM,"1,35","1,56","1,60","1,63","1,60","1,58","1,41","1,43","1,48","1,56","1,80","1,78"
1,NaN,NaN,AP,"1,50","2,38","2,50","2,50","2,25","2,19","2,05","1,92","1,80","1,92","2,10","2,50"
2,NaN,NaN,ES,"1,63","1,45","1,73","1,90","1,89","1,83","1,85","1,65","1,56","1,77","1,93","1,60"
3,NaN,NaN,PR,"1,50","1,50","1,50","1,50","1,50","1,50","1,50","1,50","1,50","1,50","1,50","1,50"
4,NaN,NaN,RR,"1,17","1,15","1,21","1,25","1,25","1,25","1,25","1,25","1,25","1,28","1,30","1,28"

In [11]:
df2016

NameError: name 'df2016' is not defined

#### Verificado a não existencia de nulos no periodo de 2014-2023

In [ ]:
df2022.isnull().sum()

In [ ]:
df2014.describe()

In [ ]:
df2022.duplicated().sum()

#### Verificando os tipos de dados nos anos

In [ ]:
df2014.dtypes

# mostar a primeira linha

In [ ]:
print(df2019.iloc[[0]])

In [ ]:
print(df2014.columns[0])

# fazer um select distinct na coluna

In [ ]:

df2014['Produto/Unidade'].unique()

In [ ]:
df2023.tail(10)

In [ ]:
# Verifica onde há NaN
df2017.isna().sum()
#2017 tem nulos
#df2017[df2017.isnull().any(axis=1)]
#preencher o nulo de 2017 por 0
#df2017 = df2017.fillna(0)
#df2017

### Macrogrupos: Adicionar coluna macro grupos.