In [4]:
import pandas as pd

df = pd.read_csv(r"E:\PYTHON\CURSOS\10_Digital_College\DA18\PYTHON\Projeto_Unidade_3\_6_Streamlit\assets\dados_completos.csv")

# Agrupamento por estado
group_estado = df.groupby('estado')[['valor']].sum()

# Agrupamento por ano
group_ano = df.groupby('ano')['valor'].sum().sort_values(ascending=False)

# Exibir separadamente
print("Faturamento por Estado:")
print(group_estado)

print("\nFaturamento por Ano:")
print(group_ano)

Faturamento por Estado:
             valor
estado
AC       544278.73
AL       602196.28
AM       653777.04
AP       177864.28
BA       924533.36
CE       910208.01
DF       466810.38
ES      1018263.04
GO      1241591.83
MA       572642.56
MG       647068.74
MS       811941.39
MT       547079.84
PA       476184.55
PB       641629.01
PE       466966.55
PI       527732.15
PR       904869.24
RJ       424842.90
RN       488180.39
RO       515167.14
RR       260868.84
RS       446774.58
SC       477634.21
SE       448106.29
SP      1136756.44
TO       942282.06

Faturamento por Ano:
ano
2022    2418591.82
2023    2260492.83
2016    2191559.64
2021    2128814.73
2020    1650363.02
2017    1582355.40
2019    1444271.30
2018    1393174.01
2015    1310279.03
2014     896348.05
Name: valor, dtype: float64

In [5]:
print(df.groupby('tipo_de_comercializacao')['valor'].sum())

tipo_de_comercializacao
ATACADO      6276033.41
PRODUTOR    10478722.76
VAREJO        521493.66
Name: valor, dtype: float64